<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060422471352-dscmu93fjc7n5j3q5tg93q0dq8pc67rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060422471352-dscmu93fjc7n5j3q5tg93q0dq8pc67rt</string>
	<key>API_KEY</key>
	<string>AIzaSyBCkzGdAP4M-_uIExCGO_1MqfSl8xsKaxw</string>
	<key>GCM_SENDER_ID</key>
	<string>1060422471352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.squadronofficerschool.app</string>
	<key>PROJECT_ID</key>
	<string>sosapp-122b9</string>
	<key>STORAGE_BUCKET</key>
	<string>sosapp-122b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060422471352:ios:4e3f343fa7b7b939712e4d</string>
	<key>DATABASE_URL</key>
	<string>https://sosapp-122b9.firebaseio.com</string>
</dict>
</plist>