<ion-content padding>
  <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-card>
            <ion-card-content>

              <ion-item>
                <ion-label color="primary">Choose Instructor</ion-label>
                <ion-select [compareWith]="compareWith" formControlName="instructor"  ok-text="Okay" cancel-text="Dismiss">
                    <ion-select-option size="12" *ngFor="let instructor of instructors | async; trackBy: trackByInstructor">
                        {{instructor.rank}} {{ instructor.displayName }} 
                    </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="!feedbackForm.get('instructor').valid && feedbackForm.get('instructor').touched">
                <p>Must choose instructor</p>
              </ion-item>


              <ion-item>
                <ion-label position="stacked">Feedback:</ion-label>
                <ion-textarea formControlName="comment" type="text" rows="5" text-right></ion-textarea>
            </ion-item>

            <ion-item *ngIf="!feedbackForm.get('comment').valid && feedbackForm.get('comment').touched">
              <p>Must enter feedback comments. Max length of 500 characters.</p>
            </ion-item>
             
              <ion-button [disabled]="feedbackForm.invalid" type="submit" expand="block">Submit Feedback</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>