<ng-container *ngIf="auth.user$ | async as user; else login">
  <app-profile [user]="user"></app-profile>
  <ion-button shape="round" color="danger" (click)="auth.logOut()">Logout</ion-button>
</ng-container>

<ng-template #login>

  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card >
          <ion-card-header text-center>
          <h3>Please Login</h3>
          </ion-card-header>
            <ion-card-content >
              <ion-grid [fixed]="true">
                <ion-row class="ion-justify-content-center">
                  <ion-button shape="round" color="primary" (click)="auth.googleLogin()">
                    <ion-icon slot="start" name="logo-google"></ion-icon>
                    Login 
                  </ion-button>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-button shape="round" color="secondary" (click)="auth.anonymousLogin()">
                    <ion-icon slort="start" name="glasses"></ion-icon>
                    Login Anonymously
                  </ion-button>
                </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 
  </ion-grid>


</ng-template>




