<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!cls">Create a New Class</ion-title>
    <ion-title *ngIf="cls">Edit Class</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="classForm" (ngSubmit)="create()">
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Class Name"></ion-input>
    </ion-item>
    <ion-button *ngIf="!cls" [disabled]="classForm.invalid" type="submit" expand="block" fill="clear" shape="round">
      Create
    </ion-button>
    <ion-button *ngIf="cls" [disabled]="classForm.invalid" type="submit" expand="block" fill="clear" shape="round" [disabled]="!classForm.dirty">
      Update
    </ion-button>
    <ion-button *ngIf="cls" (click)="openDeleteAlert()" expand="block" fill="clear" shape="round" color="danger">
      Delete
    </ion-button>
    <ion-button (click)="closeModal()" expand="block" fill="clear" shape="round">
      Cancel
    </ion-button>
  </form>
</ion-content>