<ion-app>

  <ion-menu side="start" menuId="first" contentId="main-content" #sidemenu>
    
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content *ngIf="auth.user$ | async as user; else loginMessage">
      <ion-list *ngIf="auth.isStudent(user)">
        <ion-list-header>
          Student Options
        </ion-list-header>
          <ng-container *ngFor="let page of pages">
            <ion-item *ngIf="page.role === 'student'" [routerLink]="page.url" routerDirection="forward"
              (click)="sidemenu.close()">
              <ion-icon [name]="page.icon" color="primary" slot="start"></ion-icon>
              {{ page.title }}
            </ion-item>
          </ng-container>
      </ion-list>
      <ion-list *ngIf="auth.isAdmin(user)">
        <ion-list-header>
          Admin Options
        </ion-list-header>
          <ng-container *ngFor="let page of pages">
            <ion-item *ngIf="page.role === 'admin'" [routerLink]="page.url" routerDirection="forward"
              (click)="sidemenu.close()">
              <ion-icon [name]="page.icon" color="primary" slot="start"></ion-icon>
              {{ page.title }}
            </ion-item>
          </ng-container>
      </ion-list>
      <ion-list>
        <ion-list-header>
          Logout
        </ion-list-header>
        <ion-item routerLink="/home" (click)="auth.logOut(); sidemenu.close()" class="ion-no-border">
          <ion-icon color="danger" slot="start" name="log-out"></ion-icon>
          <ion-text color="danger">Logout</ion-text>
        </ion-item>
      </ion-list>
    </ion-content>

    <ng-template #loginMessage>
      <ion-content>
        <ion-list>
          <ion-item routerLink="/home" routerDirection="forward" (click)="sidemenu.close()">
            <ion-icon color="primary" slot="start" name="log-in"></ion-icon>
            <ion-text color="primary">Login</ion-text>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>

  </ion-menu>

  <ion-router-outlet id="main-content" main></ion-router-outlet>

</ion-app>