<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Review Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ng-container *ngIf="feedback | async; let feedbackItems">
    <div class="ion-text-center">
      <ion-chip (click)="toggleFilter('lesson')" [color]="lessonFilter ? 'primary' : 'medium'">
        <ion-icon name="book"></ion-icon>
        <ion-label>Lesson <span *ngIf="feedbackItems" style="font-size: 80%;">({{ countItems(feedbackItems, "lesson") }})</span></ion-label>
      </ion-chip>
      <ion-chip (click)="toggleFilter('instructor')" [color]="instructorFilter ? 'primary' : 'medium'">
        <ion-icon name="person"></ion-icon>
        <ion-label>Instructor <span *ngIf="feedbackItems" style="font-size: 80%;">({{ countItems(feedbackItems, "instructor") }})</span></ion-label>
      </ion-chip>
      <ion-chip (click)="toggleFilter('class')" [color]="classFilter ? 'primary' : 'medium'">
        <ion-icon name="file-tray-full"></ion-icon>
        <ion-label>Class <span *ngIf="feedbackItems" style="font-size: 80%;">({{ countItems(feedbackItems, "class") }})</span></ion-label>
      </ion-chip>
    </div>
    <ion-list>
      <ng-container *ngFor="let fb of feedbackItems">
        <ion-item *ngIf="fb.lesson && lessonFilter" (click)="showDetails(fb)">
          <ion-icon name="book" color="primary" slot="start"></ion-icon>
          <ion-label>
            <h2>{{ fb.createdAt.toDate() | date:'yyyy/MM/dd h:mm:ss a' }}</h2>
            <p>{{ fb.comment }}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="fb.instructor && instructorFilter" (click)="showDetails(fb)">
          <ion-icon name="person" color="primary" slot="start"></ion-icon>
          <ion-label>
            <h2>{{ fb.createdAt.toDate() | date:'yyyy/MM/dd h:mm:ss a' }}</h2>
            <p>{{ fb.comment }}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="fb.class && classFilter" (click)="showDetails(fb)">
          <ion-icon name="file-tray-full" color="primary" slot="start"></ion-icon>
          <ion-label>
            <h2>{{ fb.createdAt.toDate() | date:'yyyy/MM/dd h:mm:ss a' }}</h2>
            <p>{{ fb.comment }}</p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>
</ion-content>