<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Feedback 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="onSubmit()" #feedbackForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              {{title}}
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label color="primary">Choose Class Block</ion-label>
                <ion-select interface="" class="form-control">
                  <ion-select-option value="weekOne">Week 1: Know Yourself to Lead Yourself</ion-select-option>
                  <ion-select-option value="weekTwo">Week 2: Know Your Team to Lead Your Team</ion-select-option>
                  <ion-select-option value="weekThree">Week 3: Accelerating Change and Solving Problems Together</ion-select-option>
                  <ion-select-option value="WeekFourFive">Week 4 & 5: Joint Warfare</ion-select-option>
                  <ion-select-option value="Other">Other"</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating" value="flight">Flight</ion-label>
                <ion-input type="text" class="form-control"></ion-input> 
              </ion-item>
              <ion-item>
                <ion-label position="floating" value="moreData">Name</ion-label>
                <ion-input color="primary" class="form-control" type="text"></ion-input> 
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Feedback</ion-label>
                <ion-textarea value="Enter Comments Here..." color="primary" class="form-control" type="text"></ion-textarea> 
              </ion-item>
              <ion-button type="submit" expand="block" (click)="submitFeedback()">Submit Feedback</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>