<ion-content padding>
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label color="primary">Choose Class Block</ion-label>
                <ion-select formControlName="class" value="class.value">
                  <ion-select-option *ngFor="let class of classes">{{class.content}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="!feedbackForm.get('class').valid && feedbackForm.get('class').touched">
                <p>Must choose class</p>
              </ion-item>
              <ion-item>
                <ion-label color="primary">Choose Flight</ion-label>
                <ion-select formControlName="flight" value="flight.value">
                  <ion-select-option *ngFor="let flight of flights" >{{flight.content}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="!feedbackForm.get('flight').valid && feedbackForm.get('flight').touched">
                <p>Must choose flight</p>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Feedback</ion-label>
                <ion-textarea value="Enter Comments Here..." type="text" formControlName="comment"></ion-textarea> 
              </ion-item>
              <ion-item *ngIf="!feedbackForm.get('comment').valid && feedbackForm.get('comment').touched">
                <p>Must enter feedback comments. Max length of 300 characters.</p>
                <ion-textarea placeholder="Enter Comments Here..." color="primary" class="form-control" type="text"></ion-textarea> 
              </ion-item>
              <ion-button type="submit" expand="block">Submit Feedback</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>