<ion-header>
  <ion-toolbar *ngIf="!lesson" color="success">
      <ion-title>Create New Lesson</ion-title>
      <ion-title *ngIf="lesson">Update Lesson</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="lesson" color="primary">
    <ion-title >Update Lesson</ion-title>
</ion-toolbar>`
</ion-header>

<ion-content padding>

  <div></div>

  <form [formGroup]="lessonForm" (ngSubmit)="create()">

    <ion-item>
        <ion-label>Name:</ion-label>
        <ion-textarea formControlName="name" type="text" placeholder="lesson name...." rows="1" text-right></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label>Objective:</ion-label>
        <ion-textarea formControlName="objective" type="text" placeholder="description of objective..." rows="5" text-right></ion-textarea>
    </ion-item>

    <ion-button [disabled]="lessonForm.invalid" type="submit" color="success" *ngIf="!lesson">Create!</ion-button>
    <ion-button [disabled]="lessonForm.invalid" type="submit" color="primary" *ngIf="lesson">Update!</ion-button>
    <ion-button color="medium" (click)="closeModal()">Cancel</ion-button>

  </form> 

</ion-content>