<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!instructor">Create a New Instructor</ion-title>
    <ion-title *ngIf="instructor">Edit Instructor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="instructorForm" (ngSubmit)="create()">
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Instructor Name"></ion-input>
    </ion-item>
    <ion-button *ngIf="!instructor" [disabled]="instructorForm.invalid" type="submit" expand="block" fill="clear" shape="round">
      Create
    </ion-button>
    <ion-button *ngIf="instructor" [disabled]="instructorForm.invalid" type="submit" expand="block" fill="clear" shape="round" [disabled]="!instructorForm.dirty">
      Update
    </ion-button>
    <ion-button *ngIf="instructor" (click)="openDeleteAlert()" expand="block" fill="clear" shape="round" color="danger">
      Delete
    </ion-button>
    <ion-button (click)="closeModal()" expand="block" fill="clear" shape="round">
      Cancel
    </ion-button>
  </form>
</ion-content>